<div class="row">
  <div class="col md-4">
    <h3>Select files</h3>
    <div appNgDropFiles [files]="files" (overMouse)="isOverElement = $event" [ngClass]="{'file-over': isOverElement}" class="well drop-zone file-over">
      <h4>Drop the images here</h4>
      <img src="assets/drop-images.png" alt="" />
    </div>
  </div>
  <div class="col md-8">
    <h4>Load files</h4>
    <button
      (click)="loadImages()"
      [disabled]="files.length === 0"
      class="btn btn-success"
    >
      Load Firebase
    </button>
    <button (click)="cleanFiles()" class="btn btn-danger">Clean</button>

    <table class="table">
      <thead class="thead=dark">
        <tr>
          <th id="">Filename</th>
          <th id="">Size</th>
          <th id="">Progress</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td [ngClass]="{'text-green': file.progress >= 100}">{{ file.fileName}}</td>
          <td>{{ file.file.size / 1024 / 1024 | number: '.2-2' }} MB</td>
          <td>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{'width': file.progress + '%'}"
              ></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
